.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}


.button button{
    width: 75px;
    height: 75px;
    border-radius:50%  ;
   background-color: #cccccc;
}

.page{
    padding: 0 0 40px 0;
}

