.genres{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    list-style : none;
    padding-inline-start: 0;
    height: 550px;
    padding: 5px 10px;
    margin: 10px;
    background: rgba(204,204,204, 0.4);
    border: 2px solid #747474;
    border-radius: 15px;
}

.genres ul{
    list-style: none;
    padding: 0;
}

.button{
    color: black;
    border-radius: 15px;
    opacity: 0.6;
}